@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">-->@*building Web apps with ASP.NET Core*@<!--</a>.</p>-->
    <p>By this app you can search information about counties and save it to database.</p>
    <div class="form-group">
        <div class="col-md-offset-2">
            <a href="/Country/List/" class="btn btn-primary">List of saved countries</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2">
            <a href="/Country/Search" class="btn btn-primary">Search country</a>
        </div>
    </div>
</div>
