
<h1>Search country</h1>

@using(Html.BeginForm("Details", "Country"))
{
<div class="form-inline">

    <input type="text" name="country" class="form-control" />    
    <input type="submit" value="Search" class="btn btn-primary" />
</div>
}


